<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <%- include('../views/header.ejs'); %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="icon" href="favicon.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="app">
      <div class="screen join-screen active">
        <div class="form wrap">
          <h2 class="text-white">Connect With  <span class="text-span">Us</span></h2>
          <div class="form-input">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="username" placeholder="name@example.com">
              <label>Username</label>
            </div>
          </div>
          <div class="form-input ">
            <button id="join-user" class="form-control">Join</button>
          </div>

        </div>
        <div class="wrapper">
          <div class="logo-title">
            <p>RJM</p>
          </div>
        </div>
      </div>
      <div class="screen chat-screen">
        <div class="header">
          <div class="logo">
            <div class="link">
              <ul>
                <li class="nav-globe">
                  <i class="bi bi-globe-asia-australia"></i><span class="logo-responsive"> RJM</span>
                </li>
                <li>
                  <i class="bi bi-people-fill position-relative">
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
                        2+
                        <span class="visually-hidden"></span>
                      </span>
                  </i>
                </li>
                <li>
                  <i class="bi bi-credit-card-2-front position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
                      .
                      <span class="visually-hidden"></span>
                    </span>
                  </i>
                </li>
              </ul>
            </div>
          </div>
          <div class="logo">
            <div class="link">
              <ul>
                <li>
                  <i class="bi bi-telephone-fill"></i>
                </li>
                <li>
                  <i class="bi bi-camera-video-fill position-relative"></i>
                </li>
                <li>
                  <div class="dropdown">
                    <button data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-list"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="bi bi-person-circle"></i> Account</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="bi bi-gear"></i> Setting</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#" id="exit-chat"
                          ><i class="bi bi-box-arrow-left"></i> Exit</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="messages"></div>
        <div class="typebox">
                    <div class="logo">
            <div class="link">
              <ul>
                <li>
                  <i class="bi bi-card-image"></i>
                </li>
                <li>
                  <i class="bi bi-mic-fill"></i>
                </li>
              </ul>
            </div>
          </div>
          <input type="text" id="message-input" class="form-control" placeholder="Write your message..."/>
          <button id="send-message">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- javascript section -->
    <script type="text/javascript">
(function () {
  const app = document.querySelector(".app");
  const socket = io();

  let uname;

  app
    .querySelector(".join-screen #join-user")
    .addEventListener("click", function () {
      let username = app.querySelector(".join-screen #username").value;
      if (username.length == 0) {
        return;
      }
      socket.emit("newuser", username);
      uname = username;
      app.querySelector(".join-screen").classList.remove("active");
      app.querySelector(".chat-screen").classList.add("active");
    });

  app
    .querySelector(".chat-screen #send-message")
    .addEventListener("click", function () {
      sendMessage();
    });

  function handleKeyPress(event) {
    if (event.keyCode === 13) { 
      sendMessage(); 
    }
  }

  function greetingFunction() {
      alert("Hello " +"\""+ uname +"\"" + " have fun with the others");
    }

  app
    .querySelector(".chat-screen #message-input")
    .addEventListener("keypress", handleKeyPress);

  app
    .querySelector(".chat-screen #exit-chat")
    .addEventListener("click", function () {
      socket.emit("exituser", uname);
      window.location.href = "/login";
    });

  socket.on("update", function (update) {
    renderMessage("update", update);
  });
  socket.on("chat", function (message) {
    renderMessage("other", message);
  });

  function sendMessage() {
    let message = app.querySelector(".chat-screen #message-input").value;
    if (message.length == 0) {
      return;
    }
    renderMessage("my", {
      username: uname,
      text: message,
    });
    socket.emit("chat", {
      username: uname,
      text: message,
    });

    app.querySelector(".chat-screen #message-input").value = "";
  }

  function renderMessage(type, message) {
    let messageContainer = app.querySelector(".chat-screen .messages");
    if (type == "my") {
      let el = document.createElement("div");
      el.setAttribute("class", "message my-message");
      el.innerHTML = `
    <div class="chat-mine">
        <div class="name">You</div>
        <div class="text">${message.text}</div>
    </div>
    `;
      messageContainer.appendChild(el);
    } else if (type == "other") {
      let el = document.createElement("div");
      el.setAttribute("class", "message other-message");
      el.innerHTML = `
    <div>
        <div class="name">${message.username}</div>
        <div class="text">${message.text}</div>
    </div>
    `;
      messageContainer.appendChild(el);
    } else if (type == "update") {
      let el = document.createElement("div");
      el.setAttribute("class", "update");
      el.innerText = message;
      messageContainer.appendChild(el);
    }
    messageContainer.scrollTop = messageContainer.scrollHeight - messageContainer.clientHeight;
  }
})();

    </script>
  </body>
</html>
